* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    place-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    font-weight: bold;
    width: 40rem;
    margin: auto;
    padding-bottom: 1rem;
    font-size: 1rem;
}

button {
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    margin: 0.3rem;
    padding: 0.3rem;
}

table {
    width: 50% !important;
    margin: auto;
    white-space: nowrap;
    border-collapse: collapse;
}

td {
    padding: 0.5rem;
}

hr {
    margin: 1.5rem;
} 
